

body {
    font-family: 'Roboto', sans-serif;
    
}

.center-box{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:99;
    margin:auto;
    height:300px;
    width:300px;
    /*border:1px solid #000;*/
    text-align:center;
    line-height:50px;
}

.fp-css {                        /*font size for forgot password*/
    font-size: 14px;
}

.card {

  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  padding: 2px 16px;
}

.row-card {
    margin-top: 100px;
}