body {
    font-family: 'Roboto', sans-serif;
    
    
}

/*---------------------------------
    Using css on Login page on centre box
------------------------------------*/
.center-box{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:99;
    margin:auto;
    height:300px;
    width:300px;
    text-align:center;
    line-height:50px;
}


/*-------------------------------------------
    Using css on admin-dashboard.pho
*/


/*---------------------------------
    Using css on notification_admin for layout of cards
------------------------------------*/
.admin-card {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 140px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.admin-card:hover {
  box-shadow: 0 8px 4px 0 rgba(0,0,0,0.3);
}


.container-card {
  padding: 2px 16px;
}


.row-card {
    margin-top: 70px;
}

.row-css {  
  margin-top: 50px;
  margin-bottom: 20px;
} 
.nav-pills {
   top: 20px;
    position: fixed;
}
.section-css {
    height: 20px;
    width: 100%;
    font-size: 15px;
    color: black;
}

/*---------------------------------
    Applying margin-top on notification_admin 
------------------------------------*/
hr.hr-scroll {
    border: none;
    height: 1px;
    background-color: black;
}

/* Applying css on Notification cards on homepage */
.card-notification-homepage {
  /*overflow-y: scroll;*/
  height: 400px;
  overflow:auto;

}
.event-homepage {
  overflow-y: scroll;
  height: 400px;
  margin-left: 30px;
}

/********************************
*****css for notifications.php***
********************************/

.td{
  float: left;
}
.typewriter{
    width: 270px; 
    background: #E23737;
    color: #fff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5%;
    z-index: 100;
    box-shadow: 5px -4px 0px rgba(0, 0, 36, 0.5);
}
.typewriter h3 {
  color: #fff;
  overflow: hidden; 
  border-right: .15em solid #fff; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 2.5s steps(20, end),
    blink-caret .5s step-end infinite;
}

#notification_new:after {
  content: 'NEW';
  color: #fff;
  width: 3em;
  margin-left:1% ;
  border-radius: 10%;
  font-size: 0.75em;
  line-height: 2;
  text-align: center;
  background: #f53d3d;
  box-shadow: 0 0 0 0.25em #c20a0a;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0%   { box-shadow: 0 0 0 0.2em #c20a0a; }
  25%  { box-shadow: 0 0 0 0.05em #c20a0a; }
  50%  { box-shadow: 0 0 0 0.375em #c20a0a; }
  75%  { box-shadow: 0 0 0 0.2em #c20a0a; }
  100% { box-shadow: 0 0 0 0.375em #c20a0a; }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}

/*---------------------------------------------
  css for footer
-------------------------------------------------*/
.footer1 {
   position: fixed;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   color: white;
   background-color: #537895;
   background-image: linear-gradient(315deg, #09203f 0%, #537895 74%);
   text-align: center;
   z-index: 101;

   

}

/*////////////////autosroll////////////////////*/
  .scroll-wrap,.scroll {
    height:400px;
    overflow-y:scroll; 
    margin:0 ; 
    position:relative
  }
  .scroll-group {
    position:absolute;
  }

  .box-click-here {
    text-align: right;
  }

  .box-click-here-events {
    text-align: right;
  }

  /*----------------------------
  user index page css
---------------------------------*/
 
.notice-ol{
  list-style-type: none;
}
 
.notice-li{
  position: relative;
  font: bold italic ;
  margin-bottom: 12px;
}
 
.notice-p{
  padding-left: 15px;
} 
.notice-span{
  position: absolute;
}
.vertical-text{
    background: #E23737;
    color: #fff;
    margin-left: 40px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10%;
    text-transform: uppercase;
    float: left;
    position: absolute;
    z-index: 100;
    box-shadow: 5px -4px 0px rgba(0, 0, 36, 0.5);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

/***********STYLE scroll*********/

#style-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background-color: #CCCCCC;
}

#style-scroll::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg,
                        transparent,
                        rgba(0, 0, 0, 0.4) 50%,
                        transparent,
                        transparent)
}


/*-------------------------------
css for events.php
--------------------------------*/

.carousel-inner {
  /*height: 550px;*/
}

.image-height{
  height:inherit;
  max-width: 100%;
  object-fit: cover;
}


/*----------------------------------
Css for topbar for everypage
------------------------------------*/

.title-topbar{

  background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  color: white;
  height: 70px;

  

}

.h2-topbar {
  margin-top: 0px;
  padding-top: 10px;
  font-family: 'Varela Round', sans-serif;
font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 40px;
  
}


/*------------------------------------
css for vertical line in bus_route.php
--------------------------------------*/




.vertline {
  width: 2px;
  margin-left: 0%;
  background-color: #185ece;
  top: 0%;
  animation:lineup 1.5s forwards;
  position: relative;
}

@keyframes lineup {
  0% {
    height: 0px;
  }
  100% {
    height: 30px;
  }
}


/*------------------------------------
  css for campus.php
----------------------------------------*/

.typewriter-campus{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold; 
    background: #E23737;
    color: #fff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5%;
    z-index: 100;
    text-align: center;
    box-shadow: 5px -4px 0px rgba(0, 0, 36, 0.5);
}

/*----------------------------------------------
CSS for about.php
-----------------------------------------------*/

.typewriter_about{
    width: 190px; 
    background: #E23737;
    color: #fff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5%;
    z-index: 100;
    box-shadow: 5px -4px 0px rgba(0, 0, 36, 0.5);
}
.typewriter_about h4{
  color: #fff;
  overflow: hidden; 
  border-right: .15em solid #fff; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 2.5s steps(20, end),
    blink-caret .5s step-end infinite;
}



/*///////////////////////////////////////
Scroll up button on index.php
//////////////////////////////////////*/

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 111;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #E23737;
    color: #fff;
    border-radius: 50%; 
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #111;
}
/*********************************
******* For mobile phones ********
**********************************/
@media only screen and (max-width: 768px) {
  .h2-topbar {
    font-size: 26px;
  }
   #section-scroll a {
      width: 10%;
    }
}