body {
    font-family: 'Roboto', sans-serif;
    
    
}

/*---------------------------------
    Using on Login page on centre box
------------------------------------*/
.center-box{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:99;
    margin:auto;
    height:300px;
    width:300px;
    /*border:1px solid #000;*/
    text-align:center;
    line-height:50px;
}


/*---------------------------------
    Using css on notification_admin for layout of cards
------------------------------------*/
.admin-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  text-align: center;
}
.admin-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container-card {
  padding: 2px 16px;
}


.row-card {
    margin-top: 100px;
}

.row-css {  
  margin-top: 100px;
}

.nav-pills {
   top: 20px;
    position: fixed;
}
.section-css {
    height: 20px;
    width: 100%;
    font-size: 15px;
    color: black;
}

/*---------------------------------
    Applying margin-top on notification_admin 
------------------------------------*/
hr.hr-scroll {
    border: none;
    height: 1px;
    background-color: black;
}


/* Applying css on Notification cards on homepage */
.card-notification-homepage {
  /*overflow-y: scroll;*/
  height: 400px;
  overflow:auto;

}


/* Applying css on notifications_dot_php page */
.card-notifications {


}

.event-homepage {
  overflow-y: scroll;
  height: 400px;
}


/*css for ti_me and date in notifications_dot_php */

.td{
  float: left;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

/*////////////////autosroll////////////////////*/
  .scroll-wrap,.scroll {
    height:400px;
    overflow-y:scroll; 
    margin:0 ; 
    position:relative
  }
  .scroll-group {
    position:absolute;
  }

  .box-click-here {
    margin-left: 50%;
  }

  .box-click-here-events {
    margin-left: 50%;
  }
  
  


  

  
  

